header {
    background-image: url("../img/background_header.jpg");
    background-repeat: no-repeat;
    height: 1024px;
}

.header_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 810px;
    padding-top: 47px;
    padding-left: 122px;
}

.header_row ul {
    font-family: Istok Web;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    line-height: 25.91px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    justify-content: space-between;
    width: 620px;
    padding-left: 190px;
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_main_text h1 {
    color: #FFFFFF;
    font-family: Kenia;
    font-size: 150px;
    font-weight: 400;
    line-height: 150px;
    padding-bottom: 175px;
}

.header_main_text p {
    font-family: Istok Web;
    font-size: 20px;
    font-weight: 400;
    line-height: 28.79px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;

}

.main_music {
    background-color: #D53005;
    height: 1024px;
}

.main_music h2 {
    font-family: Karla;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.07px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.buttons_and_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    font-family: Karla;
    font-size: 40px;
    height: 254px;
    font-weight: 400;
    line-height: 46.76px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons button {
    width: 382px;
    height: 83px;
    border: 1px 0px 0px 0px;
    background: radial-gradient(98.43% 2084.95% at 1.57% 7.83%, #B13E18 0%, #F3501A 100%)
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}